body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
}

p {
  margin: 0;
}

.section {
  padding: 96px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
}
